.textfield-mycustom{
    -fx-border-width: 1px;
    -fx-background-color: rgba(220, 255, 208, 0.8);
    -fx-border-color: #3B6D29;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.datepicker-mycustom{
    -fx-background-color:  rgba(152, 245, 118, 1);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.labelmain{
    -fx-font-weight: bold;
    -fx-text-fill: rgba(152, 245, 118, 1);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 24px;
}

.labelmainblack{
    -fx-font-weight: bold;
    -fx-text-fill: rgba(47, 47, 47, 1);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 24px;
}

.labelmainmedium{
    -fx-font-weight: bold;
    -fx-text-fill: rgba(152, 245, 118, 1);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 14px;
}

.labelmainbig{
    -fx-font-weight: bold;
    -fx-text-fill: rgba(152, 245, 118, 1);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 20px;
}

.labelmedium{
    -fx-text-fill: rgba(220, 255, 208, 0.8);
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 14px;
}

.labelsmall{
    -fx-text-fill: rgba(220, 255, 208, 0.8);
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 11px;
}

.labelwhite{
    -fx-font-weight:bold;
    -fx-font-size: 36px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
}

.labelmediumwhite{
    -fx-font-weight:bold;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
}

.labelsmallwhite{
    -fx-font-weight:bold;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
}

.buttonlogin{
    -fx-background-color: #FFE248;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight:bold;
    -fx-font-size: 14px;
}

.buttonmain{
    -fx-background-color: #FFE248;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}

.buttonwhite{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2F2F2F;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}

.buttontransparent{
    -fx-background-color: transparent;
    -fx-border-color:#3B6D29;
    -fx-text-fill: #EDEDED;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}

.buttonimage{
    -fx-background-color: transparent;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.buttonclean{
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight:bold;
    -fx-font-size: 14px;
}

.buttondashboard{
    -fx-background-color: #98F576;
    -fx-text-fill: #2F2F2F;
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-size: 16px;
    -fx-font-weight:bold;
    -fx-line-height: 19px;
    -fx-background-radius:8px;
    -fx-graphic-text-gap: 10;
    -fx-alignment: TOP_LEFT;
}

.backgroundlogin{
    -fx-background-image:url('../MyLibrary/Images/loginImage.jpg');
    -fx-background-size:cover;
}

.backgroundmain{
    -fx-background-image:url('../MyLibrary/Images/mainImage.jpg');
    -fx-background-size:cover;
}

.backgrounddialog{
    -fx-background-color:#1F332C;
    -fx-effect: dropshadow( three-pass-box , rgba(68,85,90) , 5, 0.0 , 0.0 , 0 );
}

.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(68,85,90) , 5, 0.0 , 0.0 , 0 );
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #98F576;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #3B6D29;
}

.table-view{
    -fx-background-color: rgba(11, 21, 15, 1);
    -fx-background-radius: 30;
}

.table-view .column-header-background{
    -fx-background-color: rgba(59, 109, 41, 1);
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box, rgba(68,85,90) , 5, 0.0 , 0.0 , 0 );
}

.table-view .column-header, .table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}


.table-view .column-header .label{
    -fx-text-fill:white;
}
